//  _Colors
$color-black:         #000;
$color-grey-dark:     #242424;
$color-grey-medium:   #000;
$color-grey:          #C9C9C9;
$color-grey-light:    #efefef;
$color-grey-lightest: #F4F4F4;
$color-white:         #fff;

$color-active:        #FF7575;

$color-text:          $color-black;

//  _Animations
$animating-background:  circleColor 200s infinite;
$animating-border:      borderColor 200s infinite;
$pulsing:               pulsing 2s infinite;
$slideIn:               slideIn 1s;
$slideOut:              slideOut 1s;
$fadeIn:                fadeIn 1s;
$fadeOut:               fadeOut 1s;

//  _Type
$font-stack-primary:    'Averta', sans-serif;
$font-stack-secondary:  'Open Sans', sans-serif;

$font-size-root:        10px;
$font-size-body:        1.6rem;
$font-size-h1:          3rem;
$font-size-h2:          2.5rem;
$font-size-h3:          2rem;

$font-line-height-body: 1.65;
$font-line-height-h1:   1.5;
$font-line-height-h2:   1.5;
$font-line-height-h3:   1.5;

$font-weight-light:     200;
$font-weight-regular:   400;
$font-weight-semibold:  500;
$font-weight-bold:      600;
